.CartLink {
    align-items: center;
}
.CartLink a {
    display: flex;
    align-items: center;
    color: white;
    transition: all 0.2s ease-in-out;
}
.CartLink a:hover {
    background-color: #ffffff;
    color: #370f0f;
    border-radius: 0.5rem;
}
.CartLink :hover > img {
    filter:invert(1);
}
.CartLink a :focus > img {
    background-color: #ffffff;
    filter: invert(1);
}