.ProductImage img {
  height: 50%;
  width: 60%;
}

.BoxList a {
  text-decoration: none;
  display: block;
  text-align: center;
  color: #000;
}

.BoxList a:hover {
  color: #000;
}

.BoxList {
  display: flex;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 10px 10px;
  background-color: #f9f9f9;
}

.BoxList {
  width: 200px; /* Установите желаемую ширину для продукта */
  height: 300px; /* Установите желаемую высоту для продукта */
  /* Дополнительные стили для продукта */
}
@media (max-width: 768px) {
  .BoxList {
    width: 100%; /* Ширина продукта на узких экранах */
    height: auto; /* Автоматическая высота продукта на узких экранах */
    /* Дополнительные стили для продукта на узких экранах */
  }
}

.ProductImage {
   /* Установите желаемую ширину для изображения продукта */
  height: 200px;
  max-width: 100%; /* Установите желаемую высоту для изображения продукта */
  /* Дополнительные стили для изображения продукта */
}
@media (max-width: 768px) {
  .ProductImage {
    height: 150px; /* Измененная высота изображения на узких экранах */
    /* Дополнительные стили для изображения продукта на узких экранах */
  }
}

.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.BoxList span {
  color: #000;
}

/* Media Queries */
@media (max-width: 870px) {
  .BoxList {
    width: 40%;
    margin: 10px 5px;
  }
  .ProductList {
    justify-content: center;
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
}

@media (max-width: 480px) {
  .BoxList {
    width: 40%;
    margin: 10px 5px;
  }
}
@media (max-width: 370px) {
  .BoxList {
    margin: 10px 5px;
    width: 80%;
  }
  .BoxList img {
    height: 70%;
    width: 30%;
  }
}
@media (max-width: 336px) {
  .BoxList {
    width: 80%;
  }
  .BoxList img {
    width: 50%;
    height: 60%;
  }
}
