.CartItem {
  align-items: center;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

@media (max-width: 490px) {
  .CartItem {
    flex-direction: column;
    position: relative;
    overflow: hidden;
  }
}

.CartItem img {
  width: 6rem;
  height: 6rem;
  border-radius: 10px;
  margin-right: 1rem;
}

.CartItem a {
  font-weight: bold;
  color: #333;
  text-decoration: none;
  margin-right: 1rem;
}

.CartItem .cart-inpt {
  margin-right: 1rem;
}

.CartItem input[type="number"] {
  width: 4rem;
  font-size: 1.2rem;
  text-align: center;
}

.CartItem span {
  margin-right: 1rem;
}

.CartItem .remove {
  color: #000;
  background-color: #666666;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
}
@media (max-width: 490px) {
  .CartItem .remove {
    border-radius: 0;
    width: 100%;
  }
}

.remove-btn button {
  font-size: 1.2rem;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #ccc;
  color: #333;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.remove-btn button:hover {
  background-color: #333;
  color: #fff;
}

.clear-btn button {
  font-size: 1.2rem;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  color: #333;
  padding: 0.5rem 1rem;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.2s ease-in-out;
}

.clear-btn button:hover {
  background-color: #333;
  color: #fff;
}

.total-price {
  font-size: 1.4rem;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.total-price span:first-of-type {
  margin-right: 1rem;
}

.product-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

@media (max-width: 630px) {
  .product-details {
    flex-direction: column;
  }
}
