.OrderForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 400px;
  margin: 0 auto;
}

.OrderForm label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  width: 100%;
}

.OrderForm input[type="text"],
.OrderForm input[type="tel"],
.OrderForm input[type="email"] {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.OrderForm button {
  padding: 10px;
  background-color: #666666;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.OrderForm button:hover {
  background-color: #0062cc;
}

.Empty-Cart {
  text-align: center;
}

.Empty-Cart img {
  width: 300px;
}