.Layout {
  position: relative;
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 1fr 6fr;
}

.Layout header {
  grid-area: header;
}

.Layout aside {
  grid-area: aside;
  width: 80px;
  position: absolute;
  min-height: 100vh;
  left: -20px;
  top: 0;
  bottom: 0;
  background-color: #666666;
  transition: width 0.3s ease;
}

.Layout aside:hover {
  width: 220px;
}

.Layout aside:hover > .CategoryList {
  display: block;
}

.Layout main {
  grid-area: main;
}

.Layout footer {
  grid-area: footer;
  display: flex;
  width: 100%;
}

.CategoryList {
  display: none;
  padding: 20px;
}

.aside img {
  width: 40px;
  position: absolute;
  left: 30px;
}

.Layout aside:hover > img {
  display: none;
}
