.Layout {
  display: grid;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
  grid-template-columns: 1fr 6fr;
}
.Layout header {
  grid-area: header;
}
.Layout aside {
  grid-area: aside;
  width: 240px;
  display: flex;
  background-color: #666666;
  min-height: 100vh;
}
.Layout main {
  grid-area: main;
}
.Layout footer {
  grid-area: footer;
  display: flex;
  width: 100%;
}

.Layout .logo {
  max-width: 200px;
}
