.Contact {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.title {
  font-size: 50px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.container {
  display: flex;
  justify-content: space-evenly;
  color: #000;
  flex-wrap: wrap;
}

.container__elem {
  padding: 3%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex: 1 1 0px;
}

.elem__block {
  height: 190px;
  width: 190px;
  background-color: #666666;
  border-radius: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.elem__block:hover {
  background-color: #05bc52;
}

.text {
  color: #000;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hover-img {
  transition: all 0.1s;
}

.elem__block:hover > .hover-img {
  transform: scale(1.1);
}
