.Home {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.RandomProducts {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.RandomProducts .BoxList .ProductImage {
  height: 145px;
}