.Home {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.BoxList {
  flex-shrink: 0;
}


.RandomProducts {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.RandomProducts .BoxList .ProductImage {
  height: 145px;
}

