.Product {
  display: flex;
  align-items: flex-end;
}
.Product span {
  font-size: 40px;
  color: #004a00;
}
.Product .ProductOpen img {
  width: 200px;
}
.ProductOpen h1 {
  font-size: 40px;
}

@media (max-width: 768px) {
  .Product span {
    font-size: 30px;
  }
  .ProductOpen h1 {
    font-size: 30px;
  }
}

@media (max-width: 768px) {
  .Product .ProductOpen img {
    width: 100px;
  }
}
