.ThankYou {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background-color: #f0f0f0;
}

.ThankYou h1 {
  font-size: 2rem;
  margin-bottom: 10px;
}

.ThankYou p {
  font-size: 1.2rem;
  line-height: 1.5;
  max-width: 600px;
}
.ThankYou img {
  width: 200px;
}