.ModalWrapper {
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.ModalWindow button {
  background-color: #00a046;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
}

.Overlay {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  background: #666;
  width: 280px;
}

.ModalWrapper.ReactModal__Content--after-open {
  opacity: 1;
  transform: translateY(0);
}

.ModalWrapper.ReactModal__Content--before-close {
  opacity: 0;
  transform: translateY(-50px);
}
