.ProductItem {
  position: absolute;
  z-index: 5;
  margin-top: 66px;
  top: 50px;
}
.ProductItem .Product {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #666;
  color: #ffffff;
  width: 400px;
}
.ProductItem .Product .block_img {
  max-width: 52px;
}
.ProductItem .Product .block_img img {
  vertical-align: bottom;
  width: 100%;
  align-self: start;
}
.ProductItem .Product {
  margin: 0;
  position: absolute;
  background-color: #666;
}
.ProductItem .Product a {
  text-decoration: none;
}
.ProductItem .Product .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding: 15px;
}
.ProductItem .Product .content span {
  color: #ffffff;
}
