.ProductItem {
  position: absolute;
  z-index: 5;
  top: 50px;
}
.ProductItem .Product {
  display: flex;
  flex-direction: row-reverse;
  background-color: #666;
  color: #ffffff;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
  justify-content: space-between;
}

.ProductItem .Product .block_img img {
  vertical-align: bottom;
  width: 70px;
  height: 100px;
  align-self: start;
}
.ProductItem .Product p {
  margin: 0;
}
.ProductItem:nth-child(1) .Product {
  margin: 0;
  position: absolute;

}
.ProductItem:nth-child(2) .Product {
  margin-top: 105px;
  position: absolute;
}
.ProductItem:nth-child(3) .Product {
  margin-top: 210px;
  position: absolute;
}
.ProductItem:nth-child(4) .Product {
  margin-top: 315px;
  position: absolute;
}
.ProductItem:nth-child(5) .Product {
  position: absolute;
  margin-top: 340px;
}
.ProductItem:nth-child(6) .Product {
  position: absolute;
  margin-top: 410px;
}
.ProductItem:nth-child(7) .Product {
  position: absolute;
  margin-top: 440px;
}
.ProductItem:nth-child(8) .Product {
  position: absolute;
  margin-top: 510px;
}
.ProductItem:nth-child(9) .Product {
  position: absolute;
  margin-top: 540px;
}
.ProductItem .Product a {
  text-decoration: none;
}
.ProductItem .Product .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  padding: 15px;
  justify-content: space-evenly;
}
.ProductItem .Product .content span {
  color: #ffffff;
}