.CategoryList {
  padding-left: 55px;
}

.CategoryList h3 {
  color: #000000;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0.5rem 0;
}

a {
  text-decoration: none;
  color: #000000;
}

a:hover {
  color: #000000;
  text-decoration: underline;
}
.YouTube img{
  position: fixed;
  bottom: 0;
  width: 30px;
}
.icon-category {
  display: flex;
}

.category-links img {
  position: absolute;
  width: 25px;
}
