.Nav .NavItem a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.Nav .NavItem a:focus {
  background-color: #ffffff;
  color: #000;
}

.Nav .NavItem a:hover {
  background-color: #ffffff;
  color: #370f0f;
}
.Logo {
  display: flex;
  align-items: center;
}
.Logo h1 {
  font-size: 30px;
  font-family: inherit;
  color: #fff;
  text-decoration: underline white;
  font-weight: 700;
  font-style: italic;
}
.Logo img {
  width: 30px;
  padding-right: 10px;
}
span {
  color: black;
}
.first-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 36px;
  background-color: #666666;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.first-nav ul {
  display: flex;
  list-style: none;
}

.first-nav li {
  margin-left: 1rem;
  display: flex;
  align-items: center;
}

@media (max-width: 1210px) {
  .first-nav ul a h1 {
    display: none;
  }
  .first-nav ul .Logo img {
    width: 50px;
  }
}

@media (max-width: 1330px) {
  .first-nav .NavItem {
    display: none;
    margin: 0;
  }
  .first-nav {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .Auth {
    display: none;
  }
}
@media (max-width: 525px) {
  .Logo img {
    display: none;
  }
}
@media (max-width: 460px) {
    .CartLink {
      display: none;
    }
  }

@media (max-width: 460px) {
  .first-nav {
    justify-content: space-between;
  }
}
.last-nav {
  display: none;
}
