.Auth {
    border: 1px solid #ffffff2b;
    border-radius: 166px;
    box-shadow: 5px 5px 9px white;
}

.Auth img{
    width: 50px;
    border-radius: 25px;
    cursor: pointer;
}
.Auth .S-Out-Btn {
    background-color: rgb(171, 33, 33);
}
.Auth .Btn-s {
    justify-content: space-between;
    display: flex;
}